{% extends 'ProjectReal/extras/base.html' %}
{% load static %}

{% block content %}

<!-- header section starts  -->
<header>

    <div id="menu-bars" class="fas fa-bars"></div>

    <nav class="navbar">
        <a href="#home">Home</a>
        <a href="#about">About</a>
        <a href="#services">Interests</a>
<!--        <a href="#portfolio">Portfolio</a>-->
        <a href="#blogs">Projects</a>
        <a href="#contact">Contact</a>
    </nav>

</header>

<!-- home section starts  -->
<section class="home" id="home">

    <div id="particles-js"></div>

    <div class="content">
        <img class="tilt" src="{{ home.image.url }}" alt="">
        <h3> Apurv <span>Chatur</span> </h3>
        <p> <span class="typing-text"></span> </p>
        <a href="#about" class="btn">Explore</a>
    </div>

</section>

<!-- about section starts  -->
<section class="about" id="about">

    <h1 class="heading"> <span>About</span> Me </h1>

    <div class="row">

        <div class="image">
            <img class="tilt" src="{{ about.image.url }}" alt="">
        </div>

        <div class="content">
            <h3> I'm <span> Apurv Chatur </span> </h3>
            <div class="info">{{ home.description | safe }}</div>
            <div class="box-container">
                <div class="box">
                    <p> <span> Email: </span> chaturapurv@gmail.com </p>
                    <p> <span> Contact No.: </span> +91 83298 84344 </p>
                    <p> <span> Location  : </span> Pune 411057 </p>
                    <p> <span> Language : </span> English, Hindi, Marathi </p>
                </div>
            </div>
            <a href="{% static 'ProjectReal/pdf/ApurvResume.pdf' %}" target="_blank" class="btn">Resume</a>
        </div>

    </div>

</section>

<!-- services section starts  -->
<section class="services" id="services">

    <h1 class="heading"> My <span> Intrests </span> </h1>

    <div class="box-container">

        <div class="box tilt">
            <i class="fab fa-python"></i>
            <h3>Python Language</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fab fa-js-square"></i>
            <h3>Javascript Language</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fab fa-aws"></i>
            <h3>AWS S3 Bucket</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fab fa-dyalog"></i>
            <h3>Django Framework</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fab fa-react"></i>
            <h3>React Library</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

        <div class="box tilt">
            <i class="fas fa-toilet-paper"></i>
            <h3>Django REST Framework</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Culpa, quidem.</p>
        </div>

    </div>

</section>

<!--&lt;!&ndash; portfolio section starts  &ndash;&gt;-->
<!--<section class="portfolio" id="portfolio">-->

<!--    <h1 class="heading"> <span> my </span> portfolio </h1>-->

<!--    <div class="box-container">-->

<!--        <div class="box tilt">-->
<!--            <img src="images/img-1.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <a href="#" class="btn">learn more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box tilt">-->
<!--            <img src="images/img-2.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <a href="#" class="btn">learn more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box tilt">-->
<!--            <img src="images/img-3.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <a href="#" class="btn">learn more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box tilt">-->
<!--            <img src="images/img-4.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <a href="#" class="btn">learn more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box tilt">-->
<!--            <img src="images/img-5.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <a href="#" class="btn">learn more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--        <div class="box tilt">-->
<!--            <img src="images/img-6.jpg" alt="">-->
<!--            <div class="content">-->
<!--                <a href="#" class="btn">learn more</a>-->
<!--            </div>-->
<!--        </div>-->

<!--    </div>-->

<!--</section>-->

<!-- blogs section starts  -->
<section class="blogs" id="blogs">

    <h1 class="heading"> My <span> Projects </span> </h1>

    <div class="box-container">

        {% for project in projects %}
        <div class="box tilt">
            <img src="{{ project.image.url }}" alt="">
            <h3>{{ project.title }} </h3>
            <p>{{ project.subtitle }} This is some cool subtitle. You like it! This is some cool subtitle. You like it!</p>
            <a href="{{ project.visit_url }}" target="_blank" class="btn">Vist</a>
            <a href="{{ project.get_real_project_url }}" class="btn">More Details</a>
        </div>
        {% endfor %}
        
    </div>

</section>

<!-- contact section starts  -->
<section class="contact" id="contact">

    <h1 class="heading"> <span> Contact </span> Me </h1>

    <div class="row">

        <div class="image">
            <img class="tilt" src="{% static 'ProjectReal/images/contact-img.svg' %}" alt="">
        </div>

        <form action="." method="POST">
            {% csrf_token %}
            <div class="inputBox">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
            </div>

            <input type="text" placeholder="Subject" class="box">

            <textarea placeholder="Message" name="" id="" cols="30" rows="10"></textarea>

            <input type="submit" class="btn" value="Send">

        </form>

    </div>

</section>

<!-- footer section  -->
<!--<div class="footer"> created by <span> mr. web designer </span> | all rights reserved! </div>-->














<!-- javascript part  -->

<!-- typed.js link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.12/typed.min.js"></script>

<!-- particles.js links  -->
<script src="{% static 'ProjectReal/js/particles.min.js' %}"></script>
<script src="{% static 'ProjectReal/js/script.js' %}"></script>

<!-- vanilla-tilt.js link  -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/vanilla-tilt/1.7.0/vanilla-tilt.min.js"></script>

<script>

let menu = document.querySelector('#menu-bars');
let header = document.querySelector('header');

menu.onclick = () =>{
    menu.classList.toggle('fa-times');
    header.classList.toggle('active');
}

window.onscroll = () =>{
    menu.classList.remove('fa-times');
    header.classList.remove('active');
};

var typed = new Typed('.typing-text', {
    strings : ['Web Developer', 'Django Developer'],
    loop : true,
    typeSpeed : 150
});

VanillaTilt.init(document.querySelectorAll('.tilt'),{
    max:25
});

</script>

{% endblock content %}
